p {
	font-family: sans-serif;
}

#naviBar {
	clear: both;
	position: relative;
	float: right;
}

#dummyButtons {
	clear: both;
	position: relative;
	left: 40%;
	top: 15%;

}

#dummyButtons p {
	clear: both;
	display: inline;
	background-color: grey;
	height: 60px;
	width: 120px;
	padding: 15, 50, 15, 50, ;
}

footer {
	position: absolute;
	bottom: 0px;
	clear:both;
	background-color: grey;
}