p {
	font-family: sans-serif;
}

img {


}

input {
	
}

#dummyButtons p {
	display: inline;
	background-color: grey;
	height: 60px;
	width: 120px;
	padding: 15, 50, 15, 50, ;
}

footer {
	clear:both;
}